body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec; 
    margin: 0; /* Elimina los márgenes predeterminados del navegador */
    padding: 0; /* Elimina el relleno predeterminado del navegador */
    display: flex; /* Flexbox para alinear contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Organiza los elementos en columna */
    height: 100vh; /* Altura de la página completa */
}

h1 {
    color: #ff69b4; 
    text-align: center; /* Centra el texto del título */
    margin-bottom: 20px; /* Margen inferior para espacio entre el título y el formulario */
}

form { /* formulario */
    background-color: #f8bbd0; 
    padding: 20px; 
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    width: 100%; /* Ancho completo del formulario */
    max-width: 400px; /* Ancho máximo del formulario */
}

label {
    display: inline-block; /* Coloca los labels de forma horizontal */
    width: 150px; /* Ancho fijo para alinear el texto de las etiquetas */
    margin-bottom: 10px; /* espacio entre elementos */
    font-size: 16px;
    color: #333; /* Color de texto gris oscuro */
    text-align: left; /* Alinea el texto de la etiqueta a la izquierda */
}

textarea {
    width: calc(100% - 160px); /* Ajusta el ancho del campo de entrada */
    padding: 5px; 
    margin-bottom: 10px; /* Margen inferior para espacio entre los elementos */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; 
}

button {
    background-color: #ff69b4; 
    color: white; 
    padding: 10px 20px;
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
}

button:hover {
    background-color: #ff4081; /* Color de fondo más oscuro al pasar sobre el botón */
}

fieldset {
    border: 2px solid #ff69b4; /* Borde rosado alrededor del formulario */
    border-radius: 8px; /* Bordes redondeados del fieldset */
    padding: 10px; /* Espacio interno del fieldset */
}
